{% extends "AutodopravaAppBundle::adminLayout.html.twig" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-2 text-left">
			<h1>{% block title %}Administrace{% endblock %}</h1>
		</div>
	</div>
	<div class="row">
		<div class="line_gray col-md-12"></div>
	</div>
	<div class="content_page">
		<div class="row">
			<div class="container col-md-offset-2 col-md-4">
				<h3>Vítejte v administraci</h3>
			</div>
		</div>
	</div>
</div>

{% endblock %}
