.customer_info
{
	font-size: 13pt;
	font-weight: bold;
	text-align: left;
}

.custumer
{
	font-size: 12pt;
}

.customer_detail
{
	position: relative;
	top: 4px;
}

.fotoDetail
{
	margin-top: 7px;
}

.editPage
{
	margin: 15px 0 30px 0;
}

.editPage a
{
	font-size: 14pt;

}