{% extends "AutodopravaAppBundle::layout.html.twig" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-2 text-left">
			<h1>{% block title %}Stěhování{% endblock %}</h1>
		</div>
	</div>
	<div class="row">
		<div class="line_gray"></div>
	</div>
	<div class="content_page">
		<div class="row">
			<div class="container col-md-8 col-md-offset-2 text-left">
				<article>
					{{ migration | raw }}
				</article>
			</div>
		</div>
	</div>
</div>

{% endblock %}